<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2HNiImL6ZBe79B0Skg56E910BJiD7L5E</string>
	<key>GCM_SENDER_ID</key>
	<string>1029416266088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atomservices.atomshop</string>
	<key>PROJECT_ID</key>
	<string>atomshop-a726c</string>
	<key>STORAGE_BUCKET</key>
	<string>atomshop-a726c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029416266088:ios:683d4d19a0de160cc70edd</string>
</dict>
</plist>